.homeContainer {
    padding: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
  }
  
  .cardContainer {
  width: 100%;
  }
  
  .cardTitle {
  padding: 1rem;
  font-size: 2rem;
  color: #040c1c
  }
  
  .cardText {
  font-size: 1.2rem;
  align-items: center;
  color: #040c1c;
  }
  
  @media(max-width: 765px) {
  .homeContainer {
    flex-direction: column;
  }
  }